/* 
    Document   : styles
    Created on : 25-jun-2013, 18:58:30
    Author     : Jose David Cano
    Description:
        Minor CSS changes for Steampong game.
*/

body {
    margin:0;
    width:100%;
}

canvas {
    background:url(../assets/layers/tileset.jpg) top left no-repeat transparent;
    display:block;
    margin:0 auto;
}